<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Moment 1 | Om webbplatsen</title>
</head>
<body>
     <div class="container">
        <main>

            <h1>Moment 1 – Om webbplatsen</h1>

            <nav>
                 <ul class="menu">
                    <li><a href="/">Start</a></li>
                    <li><a href="/about" class="current">Om webbplatsen</a></li>
                    <li><a href="/addcourse">Lägg till kurs</a></li>
                </ul>
            </nav>

            <br><br>

            <h2>
                Syfte med webbplatsen
            </h2>
            <p>
                Detta är en webbplats för Moment 1 i kursen DT207G, Backend-baserad webbutveckling. Syftet med webbplatsen är att användaren ska kunna lagra de kurser man hittills har klarat på utbildningen. Allt eftersom man klarar fler kan man via ett formulär (som finns på Lägg till kurs-sidan) lägga till även dessa till listan med avklarade kurser (som visas på Startsidan). Webbplatsen är byggd med hjälp av Express och EJS.
            </p>
            <h2>
                Vilket DBMS har använts?
            </h2>
            <p>
                Till denna webbplats har jag har använt mig utav SQLite och Node.js-paketet SQLite3. För att kontrollera min databas och dess enda tabell har jag använt mig utav pluginet SQLite i Visual Studio Code. 
            </p>
            <h2>
                Mina slutsatser
            </h2>
            <p>
                Jag har lärt mig mycket även om det kändes som en lång startsträcka att förstå vad min kod faktiskt gjorde. Jag känner mig väldigt osäker kring skapande av databas så att använda SQLite kändes enklast i och med att jag inte behövde ange några avnändaruppgifter eller någon port. Min enda tidigare erfarenhet är MariaDB via XAMPP. Jag skulle känna mig lite orolig för att hosta en databas på min egen dator som används i en webbplats jag publicerat på internet. Borde därför testa att använda PostgreSQL som man kan få tillgång till online om man publicerar via Render. Hoppas att jag blir tryggare ju mer jag får testat.
            </p>

        </main>
     </div>
    <footer>
        <p class="footertext">Denna webbplats är skapad av <a href="https://github.com/ChristoferCode" id="mingithub"><span id="name">Christofer Hansson</span></a> 2025, för Moment 1 i kursen DT207G, Backend-baserad webbutveckling på Webb&shy;utvecklings&shy;programmet vid Mittuniversitetet. </p>
    </footer>
</body>
</html>